# Dot directories
/.VirtualBox\ VMs/
/.cache/
/.compiz/
/.cpanm/
/.dbus/
/.gnome/
/.mozilla/
/.pki/
/.ssh/
/.subversion/

# Dot files
/.ICEauthority
/.Xauthority
/.histfile
/.lesshst
/.python_history
/.xsession-errors
/.xsession-errors.old
/.zcompdump
