/.bin/
/.cache/
/.compiz/session/
/.config/monitors.xml
/.dbus/
/.gnome/apps/chrome-*.desktop
/.gnome2/accels/
/.local/share/
/.pki/
/.ssh/

/.ICEauthority
/.Xauthority
/.bash_history
/.pgadmin3
/.sudo_as_admin_successful
/.xinputrc
/.xsession-errors*

/[!.]*
