[alias]
a = add -p
ad = add
c = checkout -p
ca = commit --amend
cf = config
cfl = config --list
ci = commit
cm = commit -m
co = checkout
d = diff
ds = diff --staged
l = log
lf = log --follow
lp = log -p
p = push
pr = push --recurse-submodules=on-demand
r = reset HEAD --
rb = rebase --interactive
rba = rebase --abort
rbc = rebase --continue
rbs = rebase --skip
s = status
sh = show
su = submodule update --init

[clean]
requireForce = false

[color]
status = always

[core]
editor = env TERM=xterm-256color emacs -nw

[diff]
algorithm = minimal
#ignoreSubmodules = dirty
mnemonicprefix = true
renames = true
submodule = log

[log]
abbrevCommit = true

[push]
default = simple

[rebase]
autosquash = true
autostash = true
stat = true

[user]
email = blake.m.sheridan@gmail.com
name = Blake Sheridan
