# Dot directories
/.VirtualBox\ VMs/
/.cache/
/.compiz/
/.cpanm/
/.dbus/
/.gnome/
/.mozilla/
/.pki/
/.ssh/
/.subversion/

# Dot files
/.ICEauthority
/.Xauthority
/.lesshst
/.python_history
/.sudo_as_admin_successful
/.xsession-errors
/.xsession-errors.old
/.zcompdump
/.zsh_history
