[core]
editor = emacs -nw

[diff]
algorithm = minimal
#ignoreSubmodules = dirty
mnemonicprefix = true
renames = true

[log]
abbrevCommit = true

[push]
default = simple

[user]
email = blake.m.sheridan@gmail.com
name = Blake Sheridan
