[alias]
a = add -p
ad = add
c = checkout -p
ci = commit
co = checkout
d = diff
ds = diff --staged
l = log
lp = log -p
p = push
pr = push --recurse-submodules=on-demand
r = reset HEAD --
s = status
sh = show

[clean]
requireForce = false

[core]
editor = emacs -nw

[diff]
algorithm = minimal
#ignoreSubmodules = dirty
mnemonicprefix = true
renames = true

[log]
abbrevCommit = true

[push]
default = simple

[user]
email = blake.m.sheridan@gmail.com
name = Blake Sheridan
