[submodule "emacs-color-theme-solarized"]
	branch = master
	path = .emacs.d/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "cc-mode"]
	branch = master
	path = .emacs.d/cc-mode
	url = git@github.com:blake-sheridan/cc-mode.git
[submodule "auctex"]
	branch = master
	path = .emacs.d/auctex
	url = git://git.savannah.gnu.org/auctex.git
[submodule "markdown-mode"]
	path = .emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "src/git"]
	path = src/git
	url = git@github.com:git/git.git
[submodule "src/ack"]
	path = src/ack
	url = git@github.com:petdance/ack2.git
[submodule "src/emacs"]
	path = src/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "src/python"]
	path = src/python
	url = git@github.com:python/cpython.git
[submodule "zsh/functions"]
	path = zsh/functions
	url = git@github.com:blake-sheridan/zsh-functions.git
[submodule ".emacs.d/llvm-mode"]
	path = .emacs.d/llvm-mode
	url = git@github.com:blake-sheridan/llvm-mode.git
