/Trash/
/aclocal/
/appdata/
/applications/
/autoconf/
/emacs/
/evolution/
/gettext/
/gsettings-data-convert
/gvfs-metadata/
/icc/
/icons/
/info/
/keyrings/
/libtool/
/man/
/perl/
/recently-used.xbel
/session_migration-ubuntu
/telepathy
/texinfo/
/unity-settings-daemon
/unity-webapps/*.db
/zeitgeist/
/.converted-launchers

