/.converted-launchers
/applications/
/evolution/
/gvfs-metadata/
/gsettings-data-convert
/icc/
/icons/
/keyrings/
/recently-used.xbel
/session_migration-ubuntu
/telepathy/mission-control/accounts.cfg
/unity-settings-daemon/input-sources-converted
/unity-webapps/availableapps-v2.db
/zeitgeist/
