/aclocal/
/appdata/
/applications/
/autoconf/
/emacs/
/evolution/
/gettext/
/gsettings-data-convert
/gvfs-metadata/
/icc/
/icons/
/info/
/keyrings/
/libtool/
/man/
/perl/
/recently-used.xbel
/session_migration-ubuntu
/texinfo/
/zeitgeist/
/.converted-launchers

