[Desktop Entry]
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
Comment=Multiple terminals in one window
Exec=terminator --layout=programming --maximise --role=background
GenericName=Terminal
Icon=terminator
Keywords=terminal;shell;prompt;command;commandline;
Name=Terminator
StartupNotify=true
TryExec=terminator
Type=Application
