[Desktop Entry]
Actions=Programming;
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
Comment=Multiple terminals in one window
Exec=terminator
GenericName=Terminal
Icon=terminator
Keywords=terminal;shell;prompt;command;commandline;
Name=Terminator
StartupNotify=true
TryExec=terminator
Type=Application

[Desktop Action Programming]
Exec=terminator --layout=programming --maximise --role=background
Name=Programming
OnlyShowIn=Unity;
